{% extends 'tracker_app/base.html' %}

{% block content %}
    <h1>Log In</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
    </form>

    <h3><a href="{% url 'signup' %}">No account? Signup!</a></h3>
{% endblock %}

